$nav-user-photo-size: $grid-gutter-width;

.navigation {
  .user_photo {
    display: inline-block;
    width: $nav-user-photo-size;
    height: $nav-user-photo-size;
    background: no-repeat center center;
    background-size: cover;
    margin-right: $nav-user-photo-size/4;
    border-radius: 50%;
  }
}
