/**
 *  My Account
 */

$user-photo-size: 150px;
$user-photo-border: 2px solid $gray-300;

[data-route="my-account"] {
  .user-profile-header {
    .row {
      > div {
        text-align: center;

        &:nth-child(1) {
          @include media-breakpoint-up(sm) {
            text-align: right;
          }
        }

        &:nth-child(2) {
          @include media-breakpoint-up(sm) {
            text-align: left;
          }
        }
      }
    }
  }

  .user-profile-photo {
    display: inline-block;
    width: $user-photo-size;
    height: $user-photo-size;
    background: no-repeat center center;
    background-size: cover;
    border-radius: 50%;

    &.has-border {
      border: $user-photo-border;
    }
  }
}
